html, body {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  color: whitesmoke;
  background-color: black;
  font-family: 'Acme', sans-serif;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-size: 11pt;
}

.navcan {
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
}

.navbar-brand {
  font-family: 'Sedgwick Ave Display', cursive;
}

.container-lg {
  padding-top: 59px;
}

#carouselExampleCaptions .carousel-item img{
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}

.card {
  margin: 30px 10px;
  border: solid #0c0c0c 1px;
  background-color: #0c0c0c;
}

.big-card {
  width: 90%;
  margin: 30px auto;
  background-color: #202020;
}

.card-img-top {
  height: 52%;
}

.card-body {
  background-color: #0c0c0c;
}

.home-title {
  text-align: center;
}

.page-title {
  text-align: center;
}

.go-to-link {
  text-align: right;
  text-decoration: underline;
  margin: 0;
}

.cards-can {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  justify-content: space-around;
}

footer {
  background-color: #0c0c0c;
  text-align: center;
  min-height: 200px;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
}

@media (min-width: 576px) {
.navbar-expand-sm .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
} }

.navcan {
  background-color: #0c0c0c !important;
}