html, body {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  color: whitesmoke;
  background-color: black;
  font-family: 'Acme', sans-serif;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-size: 11pt;
}

a:hover {
  color: royalblue;
}

.navbar-brand {
  font-family: 'Sedgwick Ave Display', cursive;
}

.card {
  margin: 50px 10px;
  border: solid rgb(15, 15, 15) 1px;
}

.card-body {
  background-color: rgb(15, 15, 15);
}

.banner {
  padding-top: 40px;
  height: 300px;
  text-align: center;
  background-color: aqua;
  font-family: 'Sedgwick Ave Display', cursive;
}

.options {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding-bottom: 200px;
  padding-top: 100px;
  background-color: bisque;
}

.choice {
  width: 40%;
  height: 250px;
  margin: 25px auto;
  text-align: center;
  background-color: purple;
}

.side-socials {
  background-color: hotpink;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 375px;
  left: 10px;
}

.social-tile {
  background-color: maroon;
  text-align: center;
  margin: 10px 0px;
  height: 75px;
  width: 75px;
}

.content {
  background-color: yellow;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 50px;
  min-height: 60vh;
}

.subsection {
  background-color: limegreen;
  padding-top: 50px;
  margin: auto;
  margin-bottom: 100px;
  height: 100px;
  width: 90%;
}

.cards-can {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  justify-content: space-around;
}

footer {
  background-color: rgb(15, 15, 15);
  text-align: center;
  min-height: 200px;
}

.banner-vid {
  width: 100%;
  height: 100%;
}